---
layout: layouts/base.njk
---
<div class="container">
    <div class="row pb-5">
        <div class="col-md align-self-center py-3 d-flex justify-content-between">
            <a href="/" class="home-arrow">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
        <div class="col-md-8 pt-md-4 text-md-center">
            <p class="post-date mt-4">{{ humanDate }}</p>
            <h1 class="post-title pb-3">{{ title }}</h1>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row pt-5 justify-content-between">
        <div class="col-md-7 py-4">
            <p class="post-challenge">The Challenge Posts:</p>
            <ul class="challenge-desc-left no-bullet">
            {%- for post in posts -%}
                <li class="py-3"><a href="{{ post.threadLink }}"><i class="fab fa-reddit-alien"></i> {{ post.desc }} <span class="outcome">{{ post.outcome }}</span><br><span class="outcome">$<script>document.write(({{ post.donation }}).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));</script></span></a></li>
            {%- endfor -%}
            </ul>
        </div>
        <div class="col-md-5 py-4 text-right">
            <p class="post-challenge">The Donees:</p>
            <ul class="challenge-desc-right no-bullet">
                {%- for post in posts -%}
                    <li class="py-3"><a href="{{ post.doneeLink }}">{{ post.donee }} <i class="fas fa-external-link-alt"></i></a></li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
    <div class="row py-5">
        <div class="col">
            {%- set grand_total = 0 -%}
            {%- for post in posts -%}
                {% set grand_total = grand_total + post.donation %}
            {%- endfor -%}
            <p class="shout-out">Total Round Donations: <br /><span class="shout-total">$<script>document.write(({{ grand_total }}).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));</script></span></p>
        </div>
    </div>
    <div class="row justify-content-center pb-5">
        <div class="col-md-9">
            <div class="disclaimer p-2 text-center">
                <p class="d-inline"><strong>Important note:</strong> these numbers are approximate as not everyone that donated posted totals and/or proof of donation.</p>
            </div>
        </div>
    </div>
</div>
