@font-face {
  font-family: '76ersreg';
  src: url('/css/fonts/nba_76ers-webfont.woff2') format('woff2'),
       url('/css/fonts/nba_76ers-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
	box-sizing: border-box;
}

html{
	overflow-y: scroll;
}

body {
  background-color: #006bb6;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
	margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-family: '76ersreg';
  font-size: 7rem;
}

a,
a:visited,
a[href] {
  color: #61dafb;
}

.post-list {
  list-style: none;
}