@font-face {
  font-family: '76ersreg';
  src: url('/css/fonts/nba_76ers-webfont.woff2') format('woff2'),
       url('/css/fonts/nba_76ers-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
	box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #006bb6;
	color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
	margin: 0;
  display: flex;
  flex-direction: column;
}

.texture-bg {
	pointer-events: none;
	background: url('https://rsixersdonates.com/img/jersey.jpg');
	height: 100vh;
	width: 100%;
	position: fixed;
	opacity: 0.76;
}

.wrapper {
  flex: 1 0 auto;
  border-top: 5px solid #ed174c;
  border-left: 5px solid #ed174c;
  border-right: 5px solid #ed174c;
  position: relative;
}

.wrapper::before {
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}

.footer-wrapper {
  position: relative;
  border-bottom: 5px solid #ed174c;
  border-left: 5px solid #ed174c;
  border-right: 5px solid #ed174c;
}

.footer-wrapper::before {
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}

.footer {
  flex-shrink: 0;
  overflow-y: hidden;
}

a,
a:visited,
a[href] {
  color: #fff;
  transition: color 0.2s;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ed174c;
}

.post-list-title {
  font-size: 1.75rem;
  font-weight: bold;
  border-left: 5px solid #ed174c;
  display: inline-block;
}

.post-list {
  list-style-type: none;
}

.post-list-item {
  font-family: '76ersreg';
  font-size: 2rem;
  text-shadow: 1.5px 1.5px #ed174c;
  line-height: 2rem;
  page-break-inside: avoid;
  break-inside: avoid;
}

.post-list-item a {
  transition: text-shadow 0.2s;
}

.post-list-item a:hover {
  text-shadow: 1.5px 1.5px#fff;
}

.post-list-item-date {
  font-size: 1.5rem;
}

@keyframes stars-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.stars-img {
  width: 150px;
  /* transition: transform 1s ease-in-out; */
  animation: stars-spin 15s linear infinite;
}

.stars-img:hover {
  /* transform: rotate(-90deg); */
}

.ttp {
  display: inline;
  font-family: '76ersreg';
  font-size: 3rem;
  margin-bottom: 0;
  margin-left: -109px;
  margin-top: 1px;
  text-shadow: 2px 2px #ed174c;
}

.page-title {
  display: inline;
  font-family: '76ersreg';
  font-size: 6.5rem;
  text-shadow: 2px 2px #ed174c;
}

.post-title {
  display: inline;
  border-bottom: 0;
  font-family: '76ersreg';
  font-size: 5rem;
  text-shadow: 2px 2px #ed174c;
  line-height: 5rem;
}

.post-date {
  font-family: '76ersreg';
  font-weight: bold;
  text-shadow: 0.5px 0.75px #ed174c;
}

.shout-out {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.shout-total {
  font-size: 3.5rem;
  font-family: '76ersreg';
  color: #ed174c;
  text-shadow: 2px 2px #fff;
}

.minor-shout {
  color: #ed174c;
  text-shadow: 0.5px 0.75px #fff;
  font-weight: bold;
}

.thank-you {
  font-size: 3rem;
  color: #ed174c;
  text-shadow: 2px 2px #fff;
  font-weight: bold;
  display: inherit;
}

.ty-message {
  font-size: 1.75rem;
}

.post-total {
  font-size: 3rem;
  font-family: '76ersreg';
  color: #ed174c;
  text-shadow: 2px 2px #fff;
}

.disclaimer {
  color: #006bb6;
  background-color: #fff;
  border-radius: 5px;
}

.post-challenge {
  font-weight: bold;
  font-size: 2rem;
}

.challenge-desc-left {
  padding-left: 0
}

.challenge-desc-right {
  padding-right: 0;
}

.home-arrow, .thread-link {
  text-shadow: 2px 2px #ed174c;
  font-size: 5rem;
}

.thread-link-copy {
  font-size: 1rem;
  text-shadow: none;
}

.home-arrow:hover, .thread-link:hover {
  text-shadow: 2px 2px #ffffff;
}

.jojo {
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#myChart:hover {
  cursor: pointer;
}

.post-list li::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  content: "\f434";
  color: #fff;
  text-shadow: 1px 1px #ed174c;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 2em; /* Also needed for space (tweak if needed) */
  margin-left: -2em;
  
}

.post-list li:hover::before {
  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}


@keyframes bounce {
  from { transform: translate3d(0,0,0); }
  to { transform: translate3d(0,2rem,0); }

}


@media (min-width: 768px) {
  .page-title {
    font-size: 12rem;
  }
  .post-list {
    /* border-left: 5px solid #ed174c; */
    padding-left: 1.5rem;
    columns: 2;
    list-style-type: none;
  }
  .shout-total {
    font-size: 5rem;
  }
  .post-title {
    font-size: 7rem;
    line-height: 6.5rem;
  }
  .challenge-desc-left {
    border-left: 5px solid #ed174c;
    padding-left: 15px;
  }
  .challenge-desc-right {
    border-right: 5px solid #ed174c;
    padding-right: 15px;
  }
  .thank-you {
    display: inline;	  
  }
  .wrapper {
    border-top: 10px solid #ed174c;
    border-left: 10px solid #ed174c;
    border-right: 10px solid #ed174c;
  }
  .wrapper::before {
    border-top: 10px solid #fff;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
  }
  .footer-wrapper {
    border-bottom: 10px solid #ed174c;
    border-left: 10px solid #ed174c;
    border-right: 10px solid #ed174c;
  }
  .footer-wrapper::before {
    border-bottom: 10px solid #fff;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
  }
}
