---
layout: layouts/post.njk
title: Post 2 - 12/12/19
date: 2019-12-12
tags: post
totalDonations: 300
donee: St. Christophers Hospital for Children
threadLink: https://www.reddit.com/r/sixers/comments/e9q2o7/its_that_time_of_year_if_the_76ers_beat_the/
---



