---
layout: layouts/post.njk
title: Post 3 - 01/09/20
date: 2020-01-09
tags: post
totalDonations: 450
doneeShort: Koala Hospital of NSW Australia
donee: Koala Hospital of NSW Australia
threadLink: https://www.reddit.com/r/sixers/comments/em9al7/im_predicting_ben_simmons_goes_off_tonight/
---



