---
layout: layouts/post.njk
title: Post 1 - 11/20/19
tags: post
totalDonations: 1796.73
donee: CHOP
threadLink: https://www.reddit.com/r/sixers/comments/dz9huu/if_ben_simmons_hits_a_3_pointer_tonight_against/
---
<p>If Ben Simmons hits a 3 pointer tonight against the Knicks, I’ll make another donation to CHOP. Who’s with me?</p>