---
layout: layouts/base.njk
title: Home
---
<div class="container">
  <div class="row text-md-center pb-5">
    <div class="col">
      <h1>Let's Donate!</h1>
    </div>
  </div>
  <div class="row pb-5 justify-content-md-center">
    <div class="col-md-9">
      <p>This site is dedicated to tracking total donations from donation challenge posts found in <a href="https://reddit.com/r/sixers" target="_blank">r/sixers</a>, which are set up by our very own legendary local philanthrope u/mikeb32.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>See below for some details for each post:<p>
      <ul class="post-list">
      {%- for post in collections.post -%}
        <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
      {%- endfor -%}
      </ul>
    </div>
    <div class="col-md-6">
      <canvas id="myChart" width="400" height="400"></canvas>
      <script>
        var ctx = document.getElementById('myChart')
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: [
                  {%- for post in collections.post -%}
                    '{{ post.data.donee }}',
                  {%- endfor -%}
                  ],
                datasets: [{
                    label: 'Donations',
                    data: [
                      {%- for post in collections.post -%}
                        {{ post.data.totalDonations }},
                      {%- endfor -%}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 0,
                }]
            },
            options: {
              color: '#fff'
            }
        });
      </script>
    </div>
  </div>
</div>