---
layout: layouts/base.njk
title: Home
---
<div class="container">
  <div class="row text-md-center pb-5">
    <div class="col">
      <h1 class="page-title pb-md-3">Let's Donate!</h1>
    </div>
  </div>
  <div class="row justify-content-md-center pt-5">
    <div class="col-md-10">
      <p class="">This site is dedicated to tracking total donations from charity drive posts found in the <a href="https://reddit.com/r/sixers" target="_blank" rel="noreferrer">r/sixers subreddit</a>, which are organized by our very own legendary local philanthrope and bball prophet <span class="minor-shout">u/mikeb32</span>. Thank you for all that you do!</p>
    </div>
  </div>
  <div class="row py-5">
    <div class="col">
      {%- set grand_total = 0 -%}
      {%- for post in collections.total -%}
        {% set grand_total = grand_total + post.data.totalDonations %}
      {%- endfor -%}

      <p class="shout-out">r/sixers has donated a grand total of <br /><span id="grand-total" class="shout-total"></span><br />and counting!</p>
        <script type="module">
          import { CountUp } from '/js/countUp.js';
          
          const delayMS = 2000;
          const easingFn = function (t, b, c, d) {
            var ts = (t /= d) * t;
            var tc = ts * t;
            return b + c * (tc + -3 * ts + 3 * t);
          }
          const options = {
                decimalPlaces: 2,
                prefix: '$',
                duration: 4,
                easingFn: easingFn,
              };

          let count = new CountUp('grand-total', {{ grand_total }}, options);

          setTimeout(function() {
            if (!count.error) {
              count.start();
            } else {
              console.error(count.error);
            }
          }, delayMS);
          
        </script>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <p class="post-list-title pb-md-2 pb-3 pl-3">Check out our top donations:</p>
      <p class="offset-md-2 post-list-item pt-4 py-3 top-list-first"><a href="{{ collections.top3Donations[0].url }}"><span class="top-num">1.</span> {{ collections.top3Donations[0].data.doneeShort }}: <span class="top-total">$<script>document.write(({{ collections.top3Donations[0].data.totalDonations }}).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));</script></span></a></p>
      <p class="offset-md-4 post-list-item py-3 top-list-second"><a href="{{ collections.top3Donations[1].url }}"><span class="top-num">2.</span> {{ collections.top3Donations[1].data.doneeShort }}: <span class="top-total">$<script>document.write(({{ collections.top3Donations[1].data.totalDonations }}).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));</script></span></a></p>
      <p class="offset-md-6 post-list-item py-3 top-list-third"><a href="{{ collections.top3Donations[2].url }}"><span class="top-num">3.</span> {{ collections.top3Donations[2].data.doneeShort }}: <span class="top-total">$<script>document.write(({{ collections.top3Donations[2].data.totalDonations }}).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));</script></span></a></p>
    </div>
  </div>
  <div class="row py-5 justify-content-center">
    <div class="col-md-10">
      <p class="post-list-title pb-md-2 pb-3 pl-3">2021 Season:</p>
      <ul class="post-list pt-4 single-col">
      {%- for post in collections.2021_season -%}
        <li class="post-list-item py-3 pr-2"><a href="{{ post.url }}"><span class="post-list-item-date">{{ post.data.humanDate }}</span><br />{{ post.data.title }}</a></li>
      {%- endfor -%}
      </ul>
    </div>
  </div>
  <div class="row py-5 justify-content-center">
    <div class="col-md-10">
      <p class="post-list-title pb-md-2 pb-3 pl-3">Past Seasons:</p>
      <ul class="post-list pt-4">
      {%- for post in collections.past_seasons -%}
        <li class="post-list-item py-3 pr-2"><a href="{{ post.url }}"><span class="post-list-item-date">{{ post.data.humanDate }}</span><br />{{ post.data.title }}</a></li>
      {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center py-5">
      <div class="col-md-9">
          <div class="disclaimer p-2 text-center">
              <p class="d-inline"><strong>Important note:</strong> these numbers are approximate as not everyone that donated posted totals and/or proof of donation.</p>
          </div>
      </div>
  </div>
  <div class="row py-5 justify-content-center">
    <div class="col-md-10">
      <p class="ty-message">An enormous and resounding <span class="thank-you">THANK YOU</span> to everyone that has donated and participated in these threads! It's people like you that truly make us the best fanbase in the league, and one we can all be proud to be a part of.</p>
      <p class="text-right">- u/folebear</p>
      </div>
  </div>
</div>
