---
layout: layouts/base.njk
title: Home
---
<div class="container">
  <div class="row text-md-center pb-5">
    <div class="col">
      <h1 class="page-title pb-3">Let's Donate!</h1>
    </div>
  </div>
  <div class="row justify-content-md-center pt-5">
    <div class="col-md-10">
      <p>This site is dedicated to tracking total donations from charity drive posts found in the <a href="https://reddit.com/r/sixers" target="_blank">r/sixers subreddit</a>, which are organized by our very own legendary local philanthrope and bball prophet <span class="minor-shout">u/mikeb32</span>. Thank you for all that you do!</p>
    </div>
  </div>
  <div class="row py-5">
    <div class="col">
      {%- set grand_total = 0 -%}
      {%- for post in collections.post -%}
        {% set grand_total = grand_total + post.data.totalDonations %}
      {%- endfor -%}
      <p class="shout-out">r/sixers has donated a grand total of <br /><span class="shout-total">${{ grand_total }}</span><br />and counting!</p>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-md-6">
      <p class="post-list-title">Select a post below for more details:<p>
      <ul class="post-list">
      {%- for post in collections.post -%}
        <li class="post-list-item py-2"><a href="{{ post.url }}"><span class="post-list-item-date">{{ post.data.humanDate }}</span><br />{{ post.data.title }}</a></li>
      {%- endfor -%}
      </ul>
    </div>
    <div class="col-md-6">
      <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.0/dist/chart.min.js"></script>
      <canvas id="myChart" width="400" height="400"></canvas>
      <script>
        var ctx = document.getElementById('myChart')
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: [
                  {%- for post in collections.post -%}
                    '{{ post.data.doneeShort }}',
                  {%- endfor -%}
                  ],
                datasets: [{
                    label: 'Donations',
                    data: [
                      {%- for post in collections.post -%}
                        {{ post.data.totalDonations }},
                      {%- endfor -%}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 0,
                }]
            },
            options: {
              color: '#fff',
            }
        });
      </script>
    </div>
  </div>
  <div class="row py-5 justify-content-center">
    <div class="col-md-10">
      <p class="ty-message">An enormous and resounding <span class="thank-you">THANK YOU</span> to everyone that has donated and participated in these threads! It's people like you that truly make us the best fanbase in the league, and one we can all be proud to be apart of.</p>
      </div>
  </div>
</div>
