---
layout: layouts/post.njk
title: Post 2
tags: post
totalDonations: 300
donee: Philadoptables
---

<div class="container">
    <div class="row text-md-center">
        <div class="col">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Total Donations: ${{ totalDonations }}</h3>
        </div>
    </div>
</div>


